numpy==1.15.1
scipy==1.1.0
pandas==0.23.4
sklearn===0.19.2
pprint==0.1
jupyter==1.0.0
matplotlib==2.2.3
missingno==0.4.1
skfeature-chappers==1.0.3
pyswarm==0.6
joblib==0.12.2
requests==2.19.1
xgboost==0.80
orange3==3.15.0
fancyimpute==0.3.2
gurobipy