absl-py==0.4.0
AnyQt==0.0.8
astor==0.7.1
astroid==2.0.4
backcall==0.1.0
bleach==2.1.4
Bottleneck==1.2.1
certifi==2018.8.13
chardet==3.0.4
colorama==0.3.9
CommonMark==0.7.5
cvxpy==1.0.8
cycler==0.10.0
Cython==0.28.5
decorator==4.3.0
dill==0.2.8.2
docutils==0.14
ecos==2.0.5
entrypoints==0.2.3
fancyimpute==0.3.2
fastcache==1.0.2
flake8==3.5.0
future==0.16.0
gast==0.2.0
grpcio==1.14.1
h5py==2.8.0
html5lib==1.0.1
idna==2.7
ipykernel==4.8.2
ipython==6.5.0
ipython-genutils==0.2.0
ipywidgets==7.4.0
isort==4.3.4
jedi==0.12.1
Jinja2==2.10
joblib==0.12.2
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.3
jupyter-console==5.2.0
jupyter-core==4.4.0
Keras==2.2.2
Keras-Applications==1.0.4
Keras-Preprocessing==1.0.2
keyring==13.2.1
keyrings.alt==3.1
kiwisolver==1.0.1
knnimpute==0.1.0
lazy-object-proxy==1.3.1
Markdown==2.6.11
MarkupSafe==1.0
matplotlib==2.2.3
mccabe==0.6.1
missingno==0.4.1
mistune==0.8.3
multiprocess==0.70.6.1
nbconvert==5.3.1
nbformat==4.4.0
networkx==2.1
notebook==5.6.0
np-utils==0.5.5.0
numpy==1.15.1
Orange3==3.15.0
osqp==0.4.0
pandas==0.23.4
pandocfilters==1.4.2
parso==0.3.1
pickleshare==0.7.4
pprint==0.1
prometheus-client==0.3.1
prompt-toolkit==1.0.15
protobuf==3.6.1
pycodestyle==2.3.1
pyflakes==1.6.0
Pygments==2.2.0
pylint==2.1.1
pyparsing==2.2.0
pyqtgraph==0.10.0
pyreadline==2.1
pyswarm==0.6
python-dateutil==2.7.3
python-louvain==0.11
pytz==2018.5
pywin32-ctypes==0.2.0
pywinpty==0.5.4
PyYAML==3.13
pyzmq==17.1.2
qtconsole==4.4.1
requests==2.19.1
scikit-learn==0.19.2
scipy==1.1.0
scs==2.0.2
seaborn==0.9.0
Send2Trash==1.5.0
serverfiles==0.2.1
simplegeneric==0.8.1
six==1.11.0
skfeature-chappers==1.0.3
tensorboard==1.10.0
tensorflow==1.10.0
termcolor==1.1.0
terminado==0.8.1
testpath==0.3.1
toolz==0.9.0
tornado==5.1
traitlets==4.3.2
typed-ast==1.1.0
urllib3==1.23
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.14.1
widgetsnbextension==3.4.0
wrapt==1.10.11
xgboost==0.80
xlrd==1.1.0
